In [ ]:
"""
SELECT players.username, team, level_index, actions
  FROM players
  JOIN playthroughs ON players.username=playthroughs.username
  INTO OUTFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/foo.txt';
"""

In [7]:
import pandas as pd
import re
import networkx as nx

In [26]:
rows = []
rx = re.compile('([0-9]+)[^;\n]+[;|\n]')
with open('times.txt') as f:
    for line in f:
        name,team,level,actions = line.split('\t')
        team = int(team)
        level = int(level)
        
        total_time = 0
        n_actions = 0
        for match in rx.finditer(actions):
            total_time += int(match.group()[0])
            n_actions += 1
        
        rows.append([name, team, level, total_time, n_actions])
        
df = pd.DataFrame(rows, columns=['username','team','level','time','n_actions'])
df.head()

  username  team  level  time  n_actions
0    jonny     0      1    20          7
1    Jonny     0      2     4          2
2    Jonny     0      3     9          3
3    Jonny     0      4    11          7
4    Jonny     0      5     1          1